@import '../../styles/variables.scss';

.to-do-list-container {
    user-select: none;

    ul {
      list-style: none;
      padding: 0;
    }
  
    li {
      border: none;
      margin-bottom: 5px;
      padding: 10px;
      cursor: grab;
      border-radius: 5px;
  

  
      &.isDragging {
        opacity: 0.5;
        cursor: grabbing;
      }
    }

    label{
      position: relative;
      span {
        position: absolute;
        white-space: nowrap;
        top: 50%;
        transform: translateY(-40%);
        
        &.done-text {
          text-decoration: line-through;
          color: $very-dark-grayish-blue;
        }

      }

    }
  }
  