@import 'variables';

body {
    //positioning
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: contain;

    //font
    font-family: $font;

    //general
    input[type="checkbox"] {
        appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid;
        vertical-align: middle;
        cursor: pointer;
        position: relative;
    }

    input[type="checkbox"]:checked {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 60%, contain;
        background-image: url('../assets/images/icon-check.svg'), $check-bg;
    }


    //theme
    &.dark {
        //bg
        background-image: url('../assets/images/bg-desktop-dark.jpg');
        background-color: $very-dark-blue;
        //checkbox
        input[type="checkbox"] {
            border-color: $very-dark-grayish-blue-dark;
        }
        //add
        .add{
            background-color: $very-dark-desaturated-blue;
            input[type="checkbox"]:hover {
                border-color: $check-hover;
                box-shadow: -1px -1px 0 $check-hover-shadow;
            }
            input[type="text"]{
                color: $light-grayish-blue-dark;
            }
            button{
                color: $light-grayish-blue-dark;
                &:hover{filter: brightness(50%);}
            }
        }
        //to-do-list
        li{
            color: $light-grayish-blue-dark;
            background-color: $very-dark-desaturated-blue;
            &:hover {
                background-color: $very-dark-grayish-blue-darker;
            }
        }
        //list-menu
        .list-menu{
            background-color: $very-dark-desaturated-blue;
            button{
                &:hover{color: $light-grayish-blue;}
            }
        }
        
             

    }
    &.light {
        //bg
        background-image: url('../assets/images/bg-desktop-light.jpg');
        background-color: $light-grayish-blue;
        //checkbox
        input[type="checkbox"] {
            border-color: $dark-grayish-blue;
            
        }
        //add
        .add{
            background-color: $very-light-gray;
            input[type="checkbox"]:hover {
                border-color: $light-grayish-blue;
            }
            input[type="text"]{
                color: $very-dark-grayish-blue;
            }
            button{
                color: $very-dark-grayish-blue;
                &:hover{background: $very-light-grayish-blue;}
            }
        }
        //to-do-list
        li {
            color: $very-dark-grayish-blue;
            background-color: $very-light-gray;
            &:hover {
                background-color: $very-light-grayish-blue;
            }
        }
        //list-menu
        .list-menu{
            background-color: $very-light-gray;
            button{
                &:hover{color: $very-dark-desaturated-blue;}
            }
        }

    }
}
