@import 'variables';

body {
    //positioning
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;

    //font
    font-family: $font;

    //theme bg
    &.dark {
        background-image: url('../assets/images/bg-desktop-dark.jpg');
        background-color: $very-dark-blue;
    }
    &.light {
        background-image: url('../assets/images/bg-desktop-light.jpg');
        background-color: $very-dark-blue;
    }
}