@import '../../styles/variables';

.header {
    display: flex;
    flex-direction: row;
    h1 {
        font-weight: 700;
        color: $very-light-grayish-blue;
    }

    &-img {
        display: flex;
        align-items: center;
    }
}

.rotate {
    transform: rotate(360deg);
    transition: transform 1s ease-in-out;
}
  